.lnhr_new_header {
    background-color: $blackTint1;
    @include position(fixed, 0, 0, auto,0);
    padding-top: 35px;   
    @include tablet {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__top {
      @include tablet {
        display: none;
      }
        ul {
            @include flex;
            @include justifyend;
            @include aligncenter;
            li {
                a{
                    color: $OrangyYellow;
                    font-size: 18px;
                    line-height: 16px;
                    font-weight: 400;
                    @include flex;
                    @include aligncenter;
                    @include justifycenter;
                }
                + {
                    li {
                        margin-left: 14px;
                        a {
                            background-color: $OrangyYellow;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            @include padding(4px, 4px, 4px, 4px);
                            @include border-radius(50%);
                            svg{
                                fill: $blackTint1;
                                max-width: 16px
                            }
                        }
                    }
                }
                &:first-child{
                    svg {
                        margin-right: 13px;
                    }
                }
            }
        }
    } 
}

.lnhr_new_navbar {
    &__Holder {
      @include flex;
      @include justifystart;
      @include alignsend;
      @include tablet {
        @include aligncenter;
      }
    }
    &__logo {
      width:182px;
      display: block;
      @include tablet {
        position: relative;
        z-index: 3;
        width:130px;
      }
      @include mini-tablet {
        width: 120px;
      }
      @include phone-landscape{
        width: 100px;
      }
      img {
        width: 100%;
        vertical-align: middle;
        @include transition(0.3s ease-in-out);
      }
    }
    &__inner {
      margin-left: auto;
      @include tablet {
        display: block;
        padding: 90px 15px 20px;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        pointer-events: none;
        // opacity: 0;
        background-color: rgba($blackTint2, 1);
        @include position(absolute, $top: 0, $left: 0, $bottom: null, $right: null);
        @include translate(-100%, 0);
        @include transition(all 500ms ease-in-out);
        ul {
          @include flex-column;
        }
        &.toggle {
          @include translate(0, 0);
          // opacity: 1;
          pointer-events: all;
        }
      }
    }
}

.lnhr_new_navbar__menu {
    @include flex;
    li {
      position: relative;
      margin: 0 5px;
      line-height: 100%;
      @include laptop {
        margin: 0 4px;
      }
      &.active {
        > a {
          color: $OrangyYellow;
        }
      }
      &:last-child{
          margin-right: 0;
      }
      a {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: $white;
        display: block;
        padding: 10px 16px;
        text-transform: uppercase;
        @include transition(0.3s ease-in-out);
        @include laptop {
          padding: 10px 15px;
        }
        @include tablet {
          padding: 12px 0;
          font-size: 13px;
        }
        &:hover {
          color: $OrangyYellow;
        }
      }
      .lnhr_new_navbar__menuCarot {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        @include position(absolute, $top: 50%, $right: 0, $bottom: auto, $left: auto);
        @include translate($x:0, $y: -50%);
        svg {
          width: 10px;
          @include transition(0.3s ease-in-out);
        }
      }
    }  
    @include upto-tablet {
      li.lnhr_new_dropdoenHolder {
        position: relative;
        .lnhr_new_dropdownMenu {
          min-width: 120%;
          opacity: 0;
          pointer-events: none;
          background-color: $blackTint3;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          @include position(absolute, $top: 100%, $left: 0, $bottom: null, $right: null);
          @include translate(0, 40px);
          @include transition(0.3s ease-in-out);
          z-index: 99;
          &::before {
            display: none;
            content: "";
            @include position(absolute, $top: -18px, $right: 10px, $bottom: auto, $left: auto);
            border: 9px solid transparent;
            border-bottom-color: $white;
          }
          li {
            margin: 0;
            position: relative;
            + li {
              border-top: 1px solid rgba($blacklight, 1);
            }
            a {
              color: $white;
              font-size: 13px;
              padding: 1rem 0.6rem;
            }
            &:last-child{
              border-bottom: 1px solid $blacklight;
            }
          }
          &::after {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $blackTint3;
            @include position(absolute, -7px, 0, auto, 0);
            @include rotate(45);
            z-index: -1;
            margin: 0 auto;
          }
        }
        &::after {
          content: '';
          width: 100%;
          height: 10px;
          background-color: transparent;
          @include position(absolute, auto, auto, -10px, 0);
        }
        &:hover {
          .lnhr_new_navbar__menuCarot {
            svg {
              @include rotate(180);
            }
          }
          .lnhr_new_dropdownMenu {
            @include translate(0, 4px);
            opacity: 1;
            pointer-events: all;
          }
        }
        .lnhr_new_dropdownSubHolder {
          .lnhr_new_navbar__menuCarot {
            @include rotate(90);
            top: 35%;
          }
          &:hover {
            .lnhr_new_dropdownSubMenu 
            {
              opacity: 1;
            }
          }
        }
        .lnhr_new_dropdownSubMenu{
          @include position(absolute, 0, -99px, auto, auto);
          background-color: $black;
          @include transition(all 0.3s ease-in-out);
          opacity: 0;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }
    @include tablet {
      width: 100%;
      li.lnhr_new_dropdoenHolder { 
        @include flex;
        @include flex-column;
        .lnhr_new_navbar__menuCarot {
          &.active {
            @include position(absolute, 10px, 0, auto, auto);
            @include rotate(180);
          }
        }
        .lnhr_new_dropdownMenu {
          display: none;  
          padding: 0;
          border-bottom: 1px solid $OrangyYellow;
          &::before {
            content: none;
          }
          li {
            opacity: 1;
            margin: 5px 0;
            &:first-child {
              margin-top: 10px;
            }
            &:last-child {
              margin-bottom: 10px;
            }
            a {
             padding: 12px 15px;
              color: $white;
              &:hover {
                color:$OrangyYellow;
              }
            }
          }
        }
        &:hover {
          .lnhr_new_navbar__menuCarot {
            svg {
              @include rotate(0);
            }
          }
        }
        .lnhr_new_navbar__menuCarot {
          @include position(absolute, $top: 50%, $right: 0, $bottom: auto, $left: auto);
          width: 20px;
          height: 20px;
          display: inline-block;
          text-align: center;
          cursor: pointer;
        }
        .lnhr_new_dropdownSubHolder {
          position: relative;
          .lnhr_new_navbar__menuCarot {
            @include position(absolute, $top: 22px, $right: 0, $bottom: auto, $left: auto);
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            &.active {
              @include position(absolute, 8px, 0, auto, auto);
              @include rotate(180);
            }
          }
        }
        .lnhr_new_dropdownSubMenu {
          padding-left: 10px;
          border-bottom: 1px solid $OrangyYellow;
        }
      }
    }
}

/*Mobile Navigation*/
.lnhr_new_menuIcon {
    position: relative;
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
    @include tablet {
        @include flex;
        @include aligncenter;
        @include flex-column;
    }
    @include mini-tablet {
        width: 25px;
    }
    &.active {
      z-index: 101;
      span {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(1) {
          @include rotate(45);
          width: 100%;
          margin: 0;
          top: 14px;
        }
        &:nth-child(3) {
          @include rotate(-45);
          top: 10px;
        }
      }
    }
    span {
      position: relative;
      width: 100%;
      height: 3px;
      display: block;
      background: $white;
      @include transition(0.3s ease-in-out);
      &:nth-child(2) {
        margin: 6px 0;
        margin-left: auto;
      }
    }
    &::after {
      content: 'Menu';
      @include position(absolute, 0, 0, 0, -46px);
      color: $white;
      font-size: 14px;
      width: 40px;
    }
}

.lnhr_new_mobilephn {
  display: none;
  @include tablet {
    @include flex;
    @include aligncenter;
    margin-left: auto;
    margin-right: 56px;
    position: relative;
    z-index: 3;
  }
}
