$bodyfont: 'TT Norms Pro';
$bodyfontsize: 14px;

//White
$white: #fff;

//Black 
$black: #000;
$blackTint1: #1e1e1e;

//Yellow
$OrangyYellow: #CDBE83;

//Breakpoints
$xxl-large-pc:2500px;
$xl-large-pc:2000px;
$large-pc:1500px;
$small-pc:1299px;
$laptop:1199px;
$tablet-landscape: 1024px;
$upto-tablet: 992px;
$tablet: 991px;
$mini-tablet: 767px;
$phone-landscape: 575px;
$smartphone: 479px;
$mini-smartphone: 380px;